<%= form_with(model: quotum, local: true) do |form| %>
  <% if quotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quotum.errors.count, "error") %> prohibited this quotum from being saved:</h2>

      <ul>
      <% quotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :quotum_type %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.text_field :month, id: :quotum_month %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :quotum_year %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :quotum_value %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :quotum_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
